*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: 1px solid #4DA7E9;
}

.des-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3rem);
    width: 100vw;
}

.tweet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tweet{
    display: flex;
    height: 43%;
    width: 70%;
    background-color: #F7FCFF;
    padding-top: 500px;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 500px; */
    
    
}



.textarea-container{
    margin-top: 1rem;
    border-radius: 15px;
    height: 70%;
    width: 400%;
    border: 1px solid grey;
    border: none;
    outline: none;
    resize: none;
    background-color: white;
}


.tweet1{
    display: flex;
    flex-direction: column;
    border: 1px bolid grey;
}


.tweet2{
    display: flex;
    justify-content: center;
}


.tweet3{
    display: flex;
    justify-content: space-between;
}
.post-btn{
    border-radius: 20px;
    background-color: navy;
    color: white;
}



.feed{
    height: 100%;
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
}

/* .div{
    display: flex;
    justify-content: center;
} */

.post{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
}


.post-text{
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
}


.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
    margin-right: 1rem;
    font-size: 20px;
}

.email{
    color: grey;
}

.post-btn,
.like-icon,
.delete-icon,
.edit-icon,
.comment-icon:hover{
    cursor: pointer;
}




.modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    background-color: white;
    /* display: flex; */
    position: fixed;
    left: 25vw;
    top: 25vh;
    border: 1px solid black;
    display: none;
}

.icons{
    margin-left: 1rem;
    margin-bottom: 370px ;
}

.Delete-btn{
    background-color: red;
    color: white;
    border-radius: 3px;
    height: 2rem;
    width: 4rem;
}

.cancel-btn{
    border: 1px solid navy;
    color: navy;
    border-radius: 3px;
    height: 2rem;
    width: 4rem;
}





